@mixin truncate {
    @for $i from 1 through 5 {
        .truncate#{$i} {
            display: -webkit-box;
            -webkit-line-clamp: $i;
            -webkit-box-orient: vertical;
            word-break: break-all;
            overflow: hidden;
            hyphens: auto;
            text-align: left;
        }
    }
}

@include truncate;
